/* router-view transition */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.logo-enter-active {
  transition: all 1.5s;
}

.logo-enter-from {
  width: 0;
  opacity: 0;
}

.logo-enter-to {
  opacity: 1;
}
